body{
    margin: 0px;
    background-color: rgb(74, 59, 75);
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

header{
    background-color: hsla(240, 47%, 68%, 0.712);
    padding: 1px ;
    text-align: center;
    top:0px;
    width:100%;
    color: rgb(0, 0, 0);
}

header:hover{
    background-color: hsl(270, 33%, 53%);
    padding: 1px;
    text-align: center;
    color: rgb(0, 0, 0);
}

main{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(250, 30%, 45%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

.navbar a:hover{
    text-decoration: none;
    color: white;
    background-color: hsl(250, 26%, 35%);
    display: block;
    text-align: center;
    padding: 10px;
}

.navbar form{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

.navbar li{
    float: left;
    width:20%;
}

.LoginForm{
    display: block;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-left:25%;
    margin-right:25%;
    border-style: dashed;
    border-width: 3px;
    border-color:hsl(270, 33%, 53%) ;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.LoginForm label{
    font-weight: bold;
}

.FormMargin{
    margin: 10px;
}

.LoginForm label{
    padding: 5px;
    margin: 5px;
}

.LoginForm input[type=email]{
    width: 95%;
    margin: 10px;
} 

.LoginForm input[type=password]{
    width: 95%;
    margin: 10px;
}

.LoginForm input[type=text]{
    width: 95%;
    margin: 10px;
}
.LoginForm input[type=number]{
    width: 95%;
    margin: 10px;
}

.LoginForm input[type=tel]{
    width: 95%;
    margin: 10px;
}

.addressBox{
    height: 50px;
    text-wrap:initial;
}

.LoginForm input[type=submit]{
    display: block;
    width: 96%;
    margin: 10px;
    background-color: hsl(250, 30%, 45%);
    font-size: larger;
    color: white;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.LoginForm input[type=submit]:hover{
    display: block;
    width: 96%;
    margin: 10px;
    background-color: hsl(250, 26%, 35%);
    font-size: larger;
    color: white;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.ProductList{
    background-color: white;
    display: block;
    margin: 75px;
    padding: 10px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.ProductList ul{
    list-style-type:decimal;
}

.Product{
    border-style: dashed;
    border-width: 3px;
    border-color:hsl(270, 33%, 53%) ;
    margin-top: 10px;
    height: 100px;
}

.Product:hover{
    border-style: dashed;
    border-width: 3px;
    background-color: rgb(209, 209, 209);
    border-color:hsl(270, 33%, 53%) ;
    margin-top: 10px;
    height: 105px;
}

.Product img{
    height: 100px;
    float: left;
    margin-right: 10px;
}

.Product img:hover{
    height: 105px;
    float: left;
    margin-right: 10px;
}

.ProductList a{
    text-decoration: none;
}

.Product p{
    float: left;
    font-size: larger;
    font-weight: bold;
}

.price{
    position:absolute;
    right:125px;
    font-size: larger;
    font-weight: bold;
    transform: translateY(10px);
}

.quantity{
    position:absolute;
    right:125px;
    font-size: larger;
    font-weight: bold;
    transform: translateY(-10px);
}

.SearchBar{
    display: block;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.SearchBar input[type=text]{
    width: 88%;
    float: left;
}

.SearchBar input[type=submit]{
    width: 10%;
    background-color: hsl(250, 30%, 45%);
    color: white;
}

.SearchBar input[type=submit]:hover{
    width: 10%;
    background-color: hsl(250, 26%, 35%);
    color: white;
}

.prodTable{
    width: 75%;
    margin-left:200px;
    margin-right: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.prodTable table{
    margin-left:250px;
    margin-right: 250px;
    color: black;
    margin-bottom: 10px;
    background-color: white;
    border-style: dashed;
    border-color:hsl(270, 33%, 53%)

}

.compTable{
    color: Black;
    width:90%;
}

.prodTable td{
    border-style: solid;
    margin:0px;
    border-width: 1px;  
}

.compTable table{
    margin:10px;
    margin-bottom: 10px;
    background-color: white;
    border-style: dashed;
    border-color:hsl(270, 33%, 53%)
    

}

.compTable td{
    border-style: solid;
    margin:0px;
    border-width: 1px;
    width:20%;  
}

.Action p{
    display: inline-block;
    background-color: hsl(250, 30%, 45%);
    color: white;
    width:25%;
    height: 25px;
    padding: 10px;
}

.Action a{
    display: inline-block;
    background-color: hsl(250, 30%, 45%);
    color: white;
    width:25%;
    height: 25px;
    text-decoration: none;
    padding: 10px;
}

.Action p:hover{
    display: inline-block;
    background-color: hsl(250, 26%, 35%);
    color: white;
    width:25%;
    height: 25px;
    padding: 10px;
}

.Action a:hover{
    display: inline-block;
    background-color: hsl(250, 26%, 35%);
    color: white;
    width:25%;
    height: 25px;
    text-decoration: none;
    padding: 10px;
}

.dropdown button{
    background-color: hsl(150, 30%, 45%);
    padding: 10px 15px;
    border:none;
    color: white;
    width: 84%;
    margin: 5px;
    margin-bottom: 0px;
}

.dropdown button:hover{
    background-color: hsl(151, 27%, 38%);
    padding: 10px 15px;
    border:none;
    color: white;
    width: 84%;
    
}

.dropdown a{
    display: block;
    background-color: hsl(250, 30%, 45%);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown a:hover{
    display: block;
    background-color: hsl(251, 28%, 40%);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsla(0, 0%, 100%, 0.89);
    width: 80%;
    margin-left: 9%;
    margin-right: 20%;
}


.dropdown:hover .content{
    display: block;
}

.stat{
    background-color: white;
    font-size: larger;
    margin: 20px;
    border-style: dashed;
    border-width: 3px;
    border-color:hsl(270, 33%, 53%) ;
}

.stat pre{
    transform: translateX(-80px);
}

.Total{
    font-size: x-large;
    font-weight: bolder;
    text-align: right;
    margin-left: 75px;
    margin-right: 75px;
    padding: 10px;
}

.CartList{
    color: black;
    margin-left: 75px;
    margin-right: 75px;
    background-color: beige;
    display: block;

}

.CartItem{
    display: block;
    width: 100%;
    height: 100px;
}

.CartItem img{
    float: left;
    padding: 10px;    
}

.CartItem  p{
    float: left;
    padding: 10px;
}

.CartList ul{
    list-style-type: decimal;
}

.RemoveAction{
    position:absolute;
    right:125px;
    font-size: larger;
    font-weight: bold;
    transform: translateY(40px);
}

.RemoveAction p{
    background-color: hsl(0, 68%, 40%);
    color: white;
    height: auto;
    display: block;
    padding: 10px;
}

.RemoveAction p:hover{
    background-color: hsl(0, 55%, 31%);
    color: white;
    height: auto;
    display: block;
    padding: 10px;
}

.GTB{
    text-align: left;
    margin-left: 265px; 
    margin-right: 265px; 
    background-color: beige;
}